.hero__banner{
    margin-bottom: -360px;
z-index: 1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%,rgba(0,0,0,0)100% );
    img{
        width: 100%;
    }
    .banner_slider{
        .slick-arrow{
            position: absolute;
            top: 3px;
            width: 75px;
            height: 220px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            &:focus{
                outline: white;
            }
            &.slick-prev-slide{
                left: 0;
                z-index: 2;
                span{
                    &::after{
                        content: "<";
                        font-size: 40px;
                        color: #000;
                        width: 30px;
                        // background: url(../uploads/arrows.png);
                    }
                }
            }
            
            &.slick-next-slide{
                right: 0;
                span{
                    &::after{
                        content: ">";
                        font-size: 40px;
                        color: #000;
                        width: 30px;
                        // background: url(../uploads/arrows.png);
                    }
                }
            }
        }
    }
}

// new banner styling 
.hero_banner_new{
    width: 100%;
    height: 100vh;
    .banner-bg-wrap{
        // background: rgba($color: #000000, $alpha: 0.3);
        // z-index: 2;
        .bg-image-wrap{
            width: 100%;
            height: 100vh;
            overflow: hidden;
            img{
        z-index: 1;

                width: 100%;
                @media (max-width:1024px) {
                    height: 100%;
                    object-fit: cover;
                    object-position: 20%;
                }
            }
        }
        position: relative;
        .banner-caption{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
                .container{
                    height: 100%;
                    position: relative;
                    .caption-wrap{
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(0 , -50%);
                        max-width: 800px;
                        @media (max-width:1440px) {
                            max-width: 650px;
                        }
                        @media (max-width:1024px) {
                            left: 20px;
                        }
                        @media (max-width:768px) {
                            top: 80%;
                        transform: translate(0 , -80%);
                        }
                        h1{
                                font-size: 75px;
                                color: #fff;
                                text-shadow: 8px 10px 10px #000;
                                margin-bottom: 20px;
                                @media (max-width:1440px) {
                                    font-size: 60px;
                                }
                                @media (max-width:425px) {
                                    font-size: 36px;
                                }
                                span{
                                    // font-size: 120px;
                                    color: #07DAC0;
                                    // font-family: 'Josefin Sans', sans-serif;
                                }
                        }
                        .banner-btn{
                            padding: 5px 26px;
                            color: #fff;
                            border-radius: 18px;
                            background-color: #CE2380;
                            text-decoration: none;
                            margin-top: 30px;
                            display: inline-block;
                            font-size: 23px;
                        }
                }

                // right: auto;
            }
        }
    }
}