body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color:#000 ;
        border-radius: 5px;
    }
    &.overflow_hidden{
        overflow: hidden;
    }
}
*{
    margin: 0;
    padding: 0;
}
ul , li{
padding: 0;
    list-style: none;
}
.container{
    max-width: 1510px;
    margin: auto;
    @media (max-width:1440px) {
        max-width: 1300px;
    }
    @media (max-width:1366px) {
        max-width: 1280px;
    }
    @media (max-width:1280px) {
        max-width: 1200px;
    }
    @media (max-width:1024px) {
        max-width: 100%;
        padding: 0px 20px ;
    }
}
button{
    border: none;
    outline: none;
}
ul , ol{
    margin: 0;
}