.book-list{
    margin-top: 140px;
    h2{
        color: #fff;
    }
    .book-list-wrap{
        margin-top: 50px;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
     
    }
    .book-item{
        // width: 332px;
        width: calc(20% - 10px);
        margin: 0px 5px 10px;
        padding: 15px 15px 20px;
        border: 1px solid #aaa;
        background-color: #fff;
        @media (max-width:1200px) {
        width: calc(25% - 10px);
        }
        @media (max-width:768px) {
            width: calc(33.3% - 10px);
            }
        @media (max-width:570px) {
            width: calc(50% - 10px);
            }
        @media (max-width:470px) {
            width: calc(100% - 10px);
            }
        .pdt_rating{
            margin: 5px 0px;
            display: flex ;
            align-items: center;
            p{
                font-size: 12px;
                margin: 0;
            }
            span{
                margin-left: 10px;
                font-size: 14px;
                color: #000;
            }
        }
        img{
            width: 100%;
            height: 200px;
            object-fit: contain;
            margin-bottom: 10px;
        }
        p{
            font-size: 15px;
            line-height: 20px;
            color: #000;
            font-weight: 500;
        }
    }
}