.btn{
    color: #0F1111;
    text-decoration: none;
    width: 100%;
    // background-color: transparent;
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    &.btn-yellow{
        background-color: #FFD814;
        border-color: #FCD200;
    }
    &:focus{
        outline: none;
        border: none;
    }
}