.cart_item{
    // width: 800px;
    margin: 0;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 20px;
    flex-flow: row;
    @media (max-width:768px) {
        flex-flow: column;
    }
    button{
        display: inline !important;
        width: max-content;
    }
    .item_img{
        // overflow: hidden;
        // height: 200px;
        // max-width: 300px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin-right: 20px;
        // object-position: center;
        img{
            height: auto;
            width: 100%;
            // max-width: 300px;
            max-height: 200px;
            object-fit: contain;
        }
    }
}
.checkout_basket-listing{
    margin-top: 140px;
    h2{
        margin: 10px 0 15px;
        color: #fff;
    }
    h3{
        color: #fff;
    }
}
.listing__wrap{
    display: flex;
}
.subtotal__entries{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    p{
        display: inline;
    }
    span{
        font-size: 25px;
        margin-bottom: 25px;
        display: block;
        color: #000;
        font-weight: 600;
    }
    .gift_card-block{
        margin-bottom: 10px;
        label{
            font-size: 15px;
            margin: 0;
        }
        input{
            margin-right: 7px;
        }
    }
}