.contact_me_form{
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-image: url("./uploads/contactform.jpg");
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
  overflow-y: auto;
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
@media (max-width:1024px) {
  background-size: auto 100% ;
  background-position: center;
}
  @media (max-width:535px) {
    padding-top: 80px;
    background-size: cover;
    background-position: center;
  }
  .contact_me_form_wrap{
    padding-top: 200px;
     z-index: 2;
    position: relative;
    width: 500px;
    margin: auto;
    @media (max-width:535px) {
      height: 100%;
      width: 100%;
      padding-top: 50px;
      border-radius: 0;
    }
    form{
      padding: 30px 24px;
      background-color: #131921;
      border-radius: 15px;
    @media (max-width:535px) {
      border-radius: 0;
      background-color: rgba($color: #131921, $alpha: 0.9);
      padding: 30px 20px 50px;
    }
      h4{
        color: #fff;
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
      }
      fieldset{
        margin-bottom: 30px;
        label{
          color: #07DAC0;
          display: block;
          font-size: 18px;
          span{
            color: crimson;
          }
        }
        input{
          width: 100%;
          padding: 2px 9px;
          border: none;
          // border-radius: 5px;
          outline: none;
          background-color: transparent;
          color: #fff;
          border-bottom: #07DAC0 1px solid;
          font-size: 15px;
        }
        
        textarea{
          width: 100%;
          padding: 2px 9px;
          border: none;
          font-size: 15px;
          outline: none;
          background-color: transparent;
          color: #fff;
          border-bottom: #07DAC0 1px solid;
          &::-webkit-scrollbar{
            width: 5px;
          }
          &::-webkit-scrollbar-track{
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb{
            background-color: #07DAC0;
            border-radius: 8px;
          }
        }
      }
      .form_submit_btn{
        padding: 4px 10px;
        background-color: #07DAC0;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        // float: right;
        margin-left: auto;
      }
      input[type="submit"]:disabled{
        cursor: not-allowed;
      }
    }
  }
}
.form_mail_sent_success_msg{
  display: none;
}
body.mail_sent_msg{
  position: relative;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
  &::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}
body.mail_sent_msg .form_mail_sent_success_msg{
  position: fixed;
  display: block;
  transition: 0.2s all ease-in-out;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 200px;
  transform: translate(-50% , -50%);
  background-color:#131921 ;
  border-radius: 10px;
  padding: 20px;
  .form_mail_sent_success_msg_wrap{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     flex-flow: column;

  }
  p{
    color: #fff;
    font-size: 20px;
    display: block;
    padding-bottom: 8px;
  }
  span{
    color: #000;
    font-size: 20px;
    padding: 3px 12px;
    border-radius: 20px;
    font-weight: 500;
    display: block;
    background-color: #07DAC0;
    cursor: pointer;
  }

}

.users-list{
  margin: 140px 50px 0;
  li{
    display: flex;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
}
