
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #131921;
    color: #fff;
    // font-family: Arial, Helvetica, sans-serif;
    padding: 14px 0px ;
    @media (max-width:1024px) {
        padding: 30px 0px;
    }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left_nav{
        @media (max-width:768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
   .mobile_hamburger_menu{
       display: none;
       width: 50px;
       z-index: 10;
       height: 30px;
       @media (max-width:768px) {
           display: inline-flex;
           justify-content: space-around;
           align-items: center;
           flex-flow: column;
       }
       li{
           width: 34px;
           height: 2px;
           background-color: #fff;
           display: block;
           border-radius: 3px;
           margin: 0;
           transition: 0.2s all ease-in-out;
       }
   }
        ul{
            display: flex;
            font-family: 'Josefin Sans', sans-serif;
                @media (max-width:768px) {
                    display: none;
                }
            li{
                margin-left: 40px;
                a{
                    color: #fff;
                    font-size: 16px;
                    transition: 0.2s all ease-in-out;
                    &:hover{
                        color: #07DAC0;
                        text-decoration: none;
                    }
                    img{
                        width: 35px;
                        height: auto;
                    }
                    sup{
                        color: #07DAC0;
                        font-size: 18px;
                        font-weight:500 ;
                    }
                }
                .banner-btn{
                    font-size: 16px;
                    transition: 0.2s all ease-in-out;
                    padding: 3px 24px;
                    color: #fff;
                    border-radius: 18px;
                    background-color: #07DAC0;
                    text-decoration: none;
                    border: 1px solid #07DAC0;
                    // margin-top: 30px;
                    &:hover{
                        color: #07DAC0;
                        text-decoration: none;
                        background-color: transparent;
                    }
                }
            }
            position: relative;
        }
}


.logo{
    z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    color: #fff;
    user-select: none;
    text-decoration: none;
    line-height: 30px;
    font-weight: 500;
    @media (max-width:425px) {
        font-size: 25px;
    }
    span{
        border-top: 0.4px solid #fff;
        padding-top: 0px;
        margin-top: 6px;
        display: block;
        font-size: 20px;
        line-height: 22px;
        font-family: 'Dongle', sans-serif;
        letter-spacing: 2px;
        font-weight: 400;
        @media (max-width:425px) {
            display: none;
        }
        &.logo-big{
            font-size: 36px;
            border-top: none;
            font-family: 'Josefin Sans', sans-serif;
            display: inline;
            color: #07DAC0;
            @media (max-width:425px) {
                // font-size: 30px;
            }

        }
    }
}

&.mobile_nav_open{
    overscroll-behavior: contain;
    .nav-links-wrap{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #131921, $alpha: 0.9);
        top: 0px;
        left: 0;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        overscroll-behavior: contain;
        li{
            margin: 0;
            margin-bottom: 20px;
            a{
                font-size: 35px;
                @media (max-width:570px) {
                    font-size: 26px;
                }
            }
        }
    }
    .left_nav{
        .mobile_hamburger_menu{
            li:nth-child(2){
                display: none;
                transition-delay: 0.2s;
            }
            li:first-child{
                transform: rotate(45deg) translate(5px , 5px);
            }
            li:nth-child(3){
                transform: rotate(-45deg) translate(5px , -5px);
            }
        }
    }
}
}

