.hero_sales_n_offers{
    .hero_sales_n_offers-wrap{
        padding: 20px;
        // background-color: #589C4C;
        // background-image: linear-gradient(#589C4C 25%, #EAEDED 40%);
        // margin-top: -350px;
        .row{
            // display: flex;
            margin: 0px -10px;
            .col-md-3{
                padding: 0px 10px;
                margin-bottom: 20px;
            }
        }
        .sales-offers-card{
            // height: 100%;
        padding: 18px;
        background-color: #fff;
            h4{
                font-size: 21px;
                line-height: 27.3px;
                display: block;
                font-weight: 600;
                color: #0F1111;
                font-family: Arial,sans-serif;
            }
            .sales-offers_grid{
              .row{
                  margin: 0px -7.5px;
                  min-height: 140px;
                  .col-md-6{
                      padding: 0px 7.5px;
                      max-height: 420px;
                  }
              }
                a.sales_card{
                    h6{
                        font-size: 12px;
                        line-height: 18px;
                        color: #0F1111;
                        font-family: Arial,sans-serif;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    img{
                        width: 100%;
                    }
                  
                }
            }
            button{
                outline: none;
                border: none;
                display: block;
                background-color: #fff;
                color: #007185;
                font-size: 13px;
                line-height: 19px;
                font-family: Arial,sans-serif;
            }
            button:hover{
                text-decoration: underline;
                cursor: pointer;
                color: #C7511F;
            }
        }
    }
}