.login__page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // .top-logo{
    //     width: 100%;
    //     padding: 9px 0px;
    //     background-color: #131921;

    //     img{
    //         width: 150px;
    //     }
    // }
    .login-form{
        width: 350px;
        margin: auto;
        display: flex;
        justify-content: center;
        // flex-flow: column;
        form{
            // margin-top: 50px;
            display: block;
            font-family: "Amazon Ember",Arial,sans-serif;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            background-color: #fff;
            width: 350px;
            input[type="submit"]{
                color: #fff;
            }
            button{
                margin-top: 25px;
                cursor: pointer;
                background: #07DAC0;
                border-color: #adb1b8 #a2a6ac #8d9096;
                border-radius: 3px;
                border: 0.5px solid #000;
                color: #fff;
                font-size: 15px;
                display: block;
                // padding: 10px 6px;
                text-align: center;
                width: 100%;
                margin-top: 25px;
            }
            h4{
                font-weight: 350;
                font-size: 28px;
                line-height: 1.2;
                display: block;
                margin-bottom: 20px;
            }
            p{
                font-size: 12px;
                margin-top: 18px;
                font-weight: 400;
                line-height: 12px;
            
            }
            fieldset{
                display: block;
                margin-bottom: 10px;
                label{
                    display: block;
                    padding-bottom: 2px;
                    margin: 0;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 19px;
                    color: #111;
                }
                input{
                    width: 100%;
                    background-color: #fff;
                    height: 31px;
                    padding: 3px 7px;
                    border: 1px solid #a6a6a6;
                    // border-top-color: #949494;
                    border-radius: 3px;
                    // box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
                    outline: 0;
                    line-height: normal;
                }

            }
        }
    }
}