.product_item{
    position: relative;
    display: block;
    .btn{
        position: absolute;
        bottom: 15px;
        width: calc( 100% - 30px);
        &:focus{
            border: none;
            outline: none;
        }
    }
    height: 100%;
    background-color: #fff;
    padding: 15px 15px 40px;
    border-radius: 10px;
    .pdt-image{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
        margin-bottom: 10px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    p.pdt_name{
        font-size: 15px;
        color: #0F1111;
        line-height: 16px;
        font-weight: 400;
        margin-bottom: 8px;

    }
    .pdt_id{
        font-size: 15px;
        color: #0F1111;
        line-height: 16px;
        margin-bottom: 5px;
        font-weight: 400;
    }
    .pdt_rating{
            display: flex ;
            align-items: center;
            p{
                font-size: 12px;
                margin: 0;
            }
            span{
                margin-left: 10px;
                font-size: 14px;
            }
    }
}
p.pdt_name{
    font-size: 15px;
    color: #0F1111;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 8px;

}
.pdt_id{
    font-size: 15px;
    color: #0F1111;
    line-height: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}
.pdt_rating{
        display: flex ;
        align-items: center;
        p{
            font-size: 12px;
            margin: 0;
        }
        span{
            margin-left: 10px;
            font-size: 14px;
        }
}
.products__container{
    max-width: 95%;
    margin: 140px auto 0;
    @media (max-width:1024px) {
        max-width: 90%;
        margin: 140px auto 0;
    }
    .col-md-3{
        margin-bottom: 25px;
        @media (max-width:1024px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
        @media (max-width:768px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media (max-width:425px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
.item_info{
    span.pdt-qty{
        button{
            padding: 2px 5px;
            margin: 0px 9px;
            background-color: #ccc;
            color: #000;

        }
    }
}
.info_slider{
    margin-top: 100px;
    .usercard{
        li{
            margin: 20px 0px;
            background-color: #ccc;
            display: flex;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            p{
                
            }

        }
        p{
            color: #000;
            font-weight: 500;
            font-size: 30px;

        }
        img{
            width: 100px ;
            height: 100px;
            border-radius: 50%;
            display: block;

        }
    }
    form{
        padding: 15px;
        width: fit-content;
        border-radius: 10px;
        background-color: #ccc;
        label{
            color: #000;
            display: block;
        }
        input{

        }
    }
}

.weather-data{
    margin-top: 100px;
    form{
        background-color: #ccc;
        border-radius: 15px;
        padding: 10px;
        width: fit-content;
        fieldset{
            margin-bottom: 10px;
        }
        label{
            display: block;
        }
        input{
            display: block;
        }
    }
}